<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'custom' %>
  </head>

  <body>
    <div class="all">
      <div class="center">

        <div class="left">
          <h1>uniform</h1>
          <h2>L'inscription devient plus simple</h2>
            <div id="barre">
            </div>
            <div class="list">
              <ul>
                <li><%= image_tag "file.png"%><%= "  "%>Un seul formulaire pour toutes les écoles</li>

                <li><%= image_tag "student.png"%><%= "  "%>Gérez facilement vos candidatures</li>
                <li><%= image_tag "cloud.png"%><%= "  "%>Stockez vos données scolaires</li>
              </ul>
            </div>
        </div>

        <div class="right-up">
          <h2>Entrez vos identifiants</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse email" %>
            </div>

            <div class="field">
              <% if @minimum_password_length %>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation mot de passe" %>
            </div>

            <div class="actions">
              <%= f.submit "Inscription" %>
            </div>
          </div>

          <div class="right-bottom">
            <p> Se connecter </p>
          </div>
      </div>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </body>
</html>
